# Python junk
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Log files
log/*.log
*.log

# Environment variables (Cực kỳ quan trọng để bảo mật)
.env
.env.local

# Operating System junk (Dành cho máy Mac của bạn)
.DS_Store
Thumbs.db

# Frontend junk
node_modules/
dist/
.eslintcache